.form {
  display: flex;
  width: 100%;
  position: relative;

  &__email-input {
    width: 100%;
  }

  &__input-status {
    display: none;
    position: absolute;
    bottom: -1.75rem;
    left: 1.5rem;
    font-size: 0.9rem;
  }

  &__error-icon {
    display: none;
    position: absolute;
    top: 24%;
    right: 25%;
  }
}